{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "navbar.html" %}
        <div class="col-sm-9">
            <form method = "post">
                <div class="form-row">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control mx-sm-3">
                </div>

                <div class="form-row"> 
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                    <small id="passwordHelpInline" class="text-muted">
                        Must be 8-20 characters long.
                    </small>
                </div>

                <div class="form-row">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control mx-sm-3">
                </div>

                <div class="form-row">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control mx-sm-3">
                </div>

                <div class="form-row"> 
                        <label for="picture">Picture</label>
                        <input type="text" name="picture" class="form-control mx-sm-3" aria-describedby="pictureHelpInline">
                        <small id="pictureHelpInline" class="text-muted">
                            Please provide working URL.
                        </small>
                </div>

                <button type="submit" class="btn btn-default" id="submit">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Create</button>
            </form>
        </div>
<!--
		<div class="col-sm-9">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Username:</label>
					<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the clothing" required>

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the clothing"></textarea>

					<button type="submit" class="btn btn-default" id="submit">
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Create</button>
				</div>
			</form>
		</div>
-->
        </div>
{% include "footer.html" %}
{% endblock %}

